.card {
  background-color: var(--White);
  display: grid;
  gap: 20px;
  width: 27rem;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.img-container {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.card h1 {
  font-size: 2rem;
  color: var(--Slate-900);
}

.card p {
  font-size: 1rem;
  color: var(--Slate-500);
}