:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--Slate-300);
  display: grid;
  place-content: center;
  font-family: "Outfit", sans-serif;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}